{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title|safe }}
{% endblock %}

{% block body %}
    <div>
      <form class="edit" action="{% url 'wiki:index' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="{{ field.name }}">
            <div class="lbl_{{ field.name }}">
              <label for="{{ field.name }}">{{ field.name }}:</label>
            </div>
            {{ field|safe }}
          </div>
        {% endfor %}
        <div>
          <input type="submit">
        </div>
      </form>
    </div>

{% endblock %}